<div class="mb-50-px" fxLayoutAlign="center start">
    <mat-card fxFlex="50%" fxFlex.lt-sm="80%">
      <mat-card-title class="text-align-center">Rédiger</mat-card-title>
      <form #formDirective="ngForm" [formGroup]="draftForm" (ngSubmit)="onSubmit(formDirective)">
        <mat-card-content>
          <div fxLayout="column">
            <mat-form-field class="mb-10-px" appearance="fill">
              <mat-label>contenu</mat-label>
              <input formControlName="content" matInput />
              <mat-error *ngIf="draftForm.get('content')?.hasError('required')">Votre article est vide</mat-error>
            </mat-form-field>
          </div>

          <app-file-upload #fileUpload [formGroup]="draftForm" ></app-file-upload>

        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end end" >
          <button mat-raised-button color="primary" type="submit" >Valider</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  