.purple-background{
    background: #673ab7;
}

.purple-color{
    color: #673ab7;
}

.full-size {
    height: 100%;
}

.elon-musk-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }